html {
    font-size: 62.5%;
  }
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
  }
  body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro', sans-serif;
  }
  a{
    text-decoration: none;
  }
.header {
    position: fixed;
    width: 100%;
    z-index: 1000 !important;
    background: #000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,0.1);
  }

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
  }
  .header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color .3s;
  }
  .header__logo-img-cont {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
    background: #7843E9;
  }
  .header__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  .header__logo-sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .header__links {
    display: flex;
  }
  .header__main-ham-menu-cont {
    display: none;
    width: 3rem;
    padding: 2.2rem 0;
  }
.header__main-ham-menu {
  width: 100%;
}
li {
    list-style: none;
  }
  .header__link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
  }
  
.header__sm-menu {
  background: #fff;

  position: absolute;

  width: 100%;

  top: 100%;

  visibility: hidden;

  opacity: 0;

  transition: all .3s;

  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);

  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);

  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);

}

#sidebar img {
    height: 2rem;
    width: 2rem;
}
#inicio {
        color: #fff;
        background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)),url(../../assets/svg/common-bg.svg);
          background-position-x: 0%, 0%;
          background-position-y: 0%, 0%;
        background-position: center;
        height: 100vh;
        min-height: 80rem;
        max-height: 120rem;
        position: relative;
      }

.inicio-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
  color: black;
}
.heading-primary {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
  }
  .text-primary {
    color: #333;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
  }
  .home-hero__socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    padding: .5rem;
  }
  .home-hero__social {
    width: 5rem;
  }
  .home-hero__social-icon-link {
    width: 100%;
    display: block;
    padding: 1rem;
    transition: background .3s;
    border-radius: 5px;
  }
  .home-hero__social-icon {
    width: 100%;
  }
#home-hero__cta{
    margin-top: 5rem;
  text-align: center;
}
.btn--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
  }
  .btn {
    background: #7843E9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: transform .3s;
  }
  @media only screen and (max-width: 37.5em) {
    .header__main-ham-menu-cont {
      display: block;
    }
  }
  